@import url( "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" );
@import url( "/theme.css" );

body {
	background: var( --color-back );
	color: var( --color-dark );
	font-family: var( --font-family ) , sans-serif;
	font-size: var( --font-size );	
	margin-bottom: 2em;
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 2em;
	width: 100%;
}

h1 , h2 , h3 , h4 {
	color: var( --color-fore );
	font-family: Zen Kurenaido, sans-serif;
	margin-top: 0px;
}

a {
	color: inherit;
}


