<style>
	@import url( "frame.css" );

	body > * {
		display: block;
		margin-bottom: 2em;
		text-align: center;
	}

	body > * > h2 {
		text-align: left;
	}

	body > * > h2 > img {
		display: inline-block;
		height: 0.8em;
	}

	body > flag > name {
		display: block;
		font-size: 1.2em;
		margin-bottom: 0.8em;
	}

	body > flag > fast , body > flag > img {
		height: 2em;
		margin-left: 0.4em;
		margin-right: 0.4em;
		width: 2em;
	}

	/* Doesnt work */
	body > flag > fast {
		border-bottom-color: var( --color-fore );
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var( --color-fore );
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var( --color-fore );
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var( --color-fore );
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		border-top-style: solid;
		border-top-width: 1px;
		display: inline-block;
	}

	body > theme > light , body > theme > dark {
		border-bottom-left-radius: 0.4em;
		border-bottom-right-radius: 0.4em;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-style: solid;
		border-left-width: 1px;
		border-right-style: solid;
		border-right-width: 1px;
		border-top-left-radius: 0.4em;
		border-top-right-radius: 0.4em;
		border-top-style: solid;
		border-top-width: 1px;
		display: inline-block;
		padding-bottom: 0.4em;
		padding-top: 0.2em;
		text-align: center;
		width: 4em;
	}

	body > theme > light {
		border-bottom-color: rgba( 157 , 2 , 0 , 1.0 );
		border-left-color: rgba( 157 , 2 , 0 , 1.0 );
		border-right-color: rgba( 157 , 2 , 0 , 1.0 );
		border-top-color: rgba( 157 , 2 , 0 , 1.0 );
		margin-right: 1em;
		transition-property: color;
		transition-duration: 1s;
	}

	body > theme > dark {
		background: rgba( 19 , 19 , 19 , 1.0 );
		border-bottom-color: #C84B31;
		border-left-color: #C84B31;
		border-right-color: #C84B31;
		border-top-color: #C84B31;
		color: #ECDBBA;
		transition-property: color;
		transition-duration: 1s;
	}

	/*body > conf > light:hover {*/
	/*	color: rgba( 157 , 2 , 0 , 1.0 );*/
	/*}*/

</style>

<script>

	window.document.addEventListener( "DOMContentLoaded" , event => {

		var original;
		for ( item of window.document.querySelectorAll( "body > flag > img" ) ) {
			item.addEventListener( "mouseover" , event => {
				original = window.document.querySelector( "body > flag > name" ).innerText;
				window.document.querySelector( "body > flag > name" ).innerText = event.target.getAttribute( "name" );
			} , { } )
			item.addEventListener( "mouseout" , event => {
				window.document.querySelector( "body > flag > name" ).innerText = original;
			} , { } )
			item.addEventListener( "click" , event => {
				window.document.querySelector( "body > flag > name" ).innerText = event.target.getAttribute( "name" );
				window.parent.country( event.target.getAttribute( "name" ) );
				original = event.target.getAttribute( "name" );
			} , { } )
		}

	} , { } )

</script>

<body>
	<flag>
		<h2>
			<img src=assets/icons.getbootstrap.com/icons/flag.svg>
			Country
		</h2>
		<name>
			Fastest
		</name>
		<img src="assets/flaticon.com/lightning.png" name="Fastest">
		<img src="assets/github.com/HatScripts/circle-flags/flags/european_union.svg" name="European Union" >
		<img src="assets/github.com/HatScripts/circle-flags/flags/us.svg" name="United States" >
	</flag>
	<theme>
		<h2>
			<img src=assets/icons.getbootstrap.com/icons/brush.svg>
			Theme (todo)
		</h2>
		<light>
			Light
		</light>
		<dark>
			Dark
		</dark>
	</theme>
	<legal>
		<h2>
			<img src=assets/icons.getbootstrap.com/icons/bank.svg>
			Legal
		</h2>
		<a href=/legal.htm#privacy>
			Privacy Policy
		</a>
		/
		<a href=/legal.htm#terms>
			Terms of Service
		</a>
		/
		<a href=/legal.htm#credit>
			Open Source
		</a>
	</legal>
</body>

