/* @import url( "https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" );
@import url( "https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" );	*/

@font-face {
  font-family: Zen Maru Gothic;
  src: url( http://asset.public.net/ZenMaruGothic-Regular.ttf );
}

@font-face {
  font-family: Zen Kurenaido;
  src: url( http://asset.public.net/ZenKurenaido-Regular.ttf );
}

:root {
	--color-back: rgba( 240 , 241 , 242 , 1.0 );
	--color-fore: rgba( 157 , 2 , 0 , 1.0 );
	--color-dark: rgba( 0 , 0 , 0 , 1.0 );
	--font-family: Zen Maru Gothic;
	--font-title: Zen Kurenaido;
	--font-size: 1.4em;
}

