<style>
	@import url( "/frame.css" );

	body {
		overflow-y: hidden;
		text-align: center;
	}

	body > h2 {
		margin-top: 12%;
		margin-bottom: 2em;
	}

	body > state {
		display: inline-block;
		height: 8em;
		width: 8em;
	}

	body > state > start , body > state > working , body > state > error , body > state > success {
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-style: solid;
		border-left-width: 1px;
		border-right-style: solid;
		border-right-width: 1px;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		box-sizing: border-box;
		display: none;
		font-family: var( --font-title );
		font-size: 1.2em;
		height: 100%;
		opacity: 0%;
		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-top: calc( calc( 100% - calc( 1.2em * 1.2 ) ) / 2 );
/*		transition:
			opacity 1s;	*/
		width: 100%;
	}

	body > state > *.active {
		display: inline-block;
		opacity: 100%;
	}

	body > state > start {
		border-bottom-color: var( --color-dark );
		border-left-color: var( --color-dark );
		border-right-color: var( --color-dark );
		border-top-color: var( --color-dark );
	}

	@keyframes pulsate {
		0% {
			border-bottom-color: var( --color-dark );
			border-left-color: var( --color-dark );
			border-right-color: var( --color-dark );
			border-top-color: var( --color-dark );
		}
		50% {

			border-bottom-color: var( --color-fore );
			border-left-color: var( --color-fore );
			border-right-color: var( --color-fore );
			border-top-color: var( --color-fore );
		}
		100% {
			border-bottom-color: var( --color-dark );
			border-left-color: var( --color-dark );
			border-right-color: var( --color-dark );
			border-top-color: var( --color-dark );
		}
	}

	body > state > working {
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-name: pulsate;
		color: var( --color-dark );
	}

	body > state > success {
		border-bottom-color: var( --color-fore );
		border-left-color: var( --color-fore );
		border-right-color: var( --color-fore );
		border-top-color: var( --color-fore );
	}

	body > state > logs {
		align-self: start;
		font-size: 0.8em;
		white-space: pre;
	}

</style>

<script>
	var state = "start";
	function terminate( ) {
		if ( state != "start" )
			window.document.querySelector( "body state" ).dispatchEvent( "click" );
	}
	function connect( ) {
		if ( state == "start" )
			window.document.querySelector( "body state" ).dispatchEvent( "click" );
	}

	window.document.addEventListener( "DOMContentLoaded" , event => {
		window.document.querySelector( "body state" ).addEventListener( "click" , event => {
			( async function( event ) {
				if ( state == "start" ) {
					window.document.querySelector( "body start" ).classList.remove( "active" );
					window.document.querySelector( "body working" ).classList.add( "active" );
					state = "working";
					try {
						err = await window.parent.connect( );
					} catch( error ) {
						err = error
					}
					window.document.querySelector( "body working" ).classList.remove( "active" );
					if ( ! err ) {
						window.document.querySelector( "body success" ).classList.add( "active" );
						state = "success";
					} else {
						window.parent.stderr( "E " + err );
						window.document.querySelector( "body error" ).classList.add( "active" );
						state = "error";
					}
				} else {
					window.document.querySelector( "body working" ).classList.remove( "active" );
					window.document.querySelector( "body success" ).classList.remove( "active" );
					window.document.querySelector( "body error" ).classList.remove( "active" );
					window.document.querySelector( "body start" ).classList.add( "active" );
					err = await window.parent.terminate( );
					state = "start";
				}
			} )( event );
		} , { } );
	} , { } );
</script>

<body>
	<h2>
		Public Internet
	</h2>
	<state>
		<start class=active>
			Tap to start
		</start>
		<working>
			Connecting
		</working>
		<error>
			Some error :(
		</error>
		<success>
			Connected!
		</success>
	</state>
</body>

