<style>
	@import url( "/frame.css" );

	body > logs {
		display: block;
		white-space: pre;
	}

</style>
<script>
	function stderr( output ) {
		window.document.body.querySelector( "logs" ).append( output );
	}
</script>
<body>
	<logs>Very first closed alpha version
</logs>
</body>

