<style>

</style>

<body>
	<h2>
	
	</h2>
	<a>
		<state>
			<start>
				Not connected
			</start>
			<wait>

			</wait>
			<fail>

			</fail>
			<okay>

			</okay>
		</state>
		<help>
			<start>
				Tap to connect
			</start>
			<wait>
				
			</wait>
			<fail>
				Tap to try again
			</fail>
			<okay>
				Tap to disconnect
			</okay>
		</help/>
	</a>
</a>

